<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 <!-- **************************************************************** -->
 <!-- EntityService Service -->
 
 <bean id="EntityService" class="org.jems.service.EntityService">
   <constructor-arg ref="JemsJpaDao"/>
   <constructor-arg ref="EntityMetaDataService"/>
 </bean>
 
 <!-- **************************************************************** -->
 <!-- EntityMetaDataService Service -->
 
 <bean id="EntityMetaDataService" class="org.jems.service.EntityMetaDataService">
   <constructor-arg ref="JemsJpaDao"/>
 </bean>
 
 <!-- **************************************************************** -->
 <!--  end of beans --> 
 <!-- **************************************************************** -->
 
</beans>
